.root {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    max-width: 85%;
    height: 100%;
    background-color: var(--background-color);
    position: relative;
}

.tabContentPanel {
    display: flex;
    flex-direction: column;
    background-color: var(--panel-background-color);
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--foreground-muted-color);
        border-radius: 5px;
    }

    & .groupPanel {
        display: flex;
        flex-direction: column;
    }
}

.commandContextPanel {
    display: none;
}

.ribbonGroup {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 8px 4px;
    border-bottom: 1px solid var(--border-color);

    .header {
        color: var(--foreground-color);
        font-size: 11px;
        font-weight: bold;
        padding: 4px 8px;
        margin-bottom: 4px;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 0px 4px;
    }
}
